<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Temp" parallel="classes" verbose="1" thread-count="1">
    <test name="Nopackage" preserve-order="true">
        <classes>
            <class name="com.realaicy.pg.core.mapper.JsonMapperNGTest"/>
        </classes>
    </test>

</suite>
